body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, p {
  margin: 5px;
}

menu {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #555;
  overflow: hidden;

  a {
    display: block;
    width: calc(33% - 40px);
    padding: 20px;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    float: left;
  }
}

main {
  width: calc(100% - 20px);
  padding: 10px;

  section {
    margin-bottom: 50px;
  }
}

form {
  input {
    margin: 5px;
    display: block;

    &[type="text"] {
      width: calc(100% - 26px);
      max-width: 600px;
      padding: 5px 8px;
      margin: 5px;
      border: 1px solid #abab;
    }

    &[type="submit"] {
      display: block;
    }
  }
  select,
  textarea {
    display: block;
    margin: 5px;
    padding: 5px 8px;
  }

  select {
    width: 324px;
  }

  textarea {
    max-width: calc(100% - 26px);
    width: 600px;
    height: 400px;
  }
}
