body {
  font-family: Arial, Helvetica, sans-serif;
}


menu {
  width: 100%;
  padding: 0;
  background: #555;
  overflow: hidden;

  a {
    display: block;
    width: calc(33% - 40px);
    padding: 20px;
    color: #ccc;
    text-align: center;
    text-decoration: none;
    float: left;
  }
}
